.modal {
  display: block; /* 모달이 보이도록 설정 */
  position: fixed; /* 화면에 고정 */
  z-index: 1000; /* z-index를 높게 설정 */
  left: 0;
  top: 0;
  width: 100%; /* 전체 화면을 차지 */
  height: 100%; /* 전체 화면을 차지 */
  overflow: auto; /* 필요시 스크롤 */
  background-color: rgb(0,0,0); /* 배경색 설정 */
  background-color: rgba(0,0,0,0.4); /* 투명 배경색 설정 */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 화면 중앙에 위치 */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* 너비 설정 */
  z-index: 1001; /* z-index를 높게 설정 */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  z-index: 1001; /* z-index를 높게 설정 */
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
