.make-play-form {
  width: 45rem;
  height: 33.875rem;
  position: relative;
  border-radius: 1.5rem;
  background: #FFF;
  display: inline-flex;
  padding: 2.5rem 2.5rem 1.5rem 2.5rem;
  flex-direction: column;
  align-items: center;
  gap: 5rem;

  /* 그림자 */
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.40);
}

.make-play-container {
  display: flex;  
  justify-content: center;
  align-items: center;
  text-align: start;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.make-play-introduce {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 42rem;
}

.makeplay-form-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  width: 40rem;
  
  padding: 0 40px;
  gap: 1rem;
  flex-direction: row;
}


.make-play-introduce label {
  width: 40rem;
  height: 6rem;
  color: var(--kakao-logo, #000);
  font-family: "Pretendard Variable";
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 3rem */
  line-height: -5rem;
}

.make-play-introduce-container {
  width: 40rem;
  height: 6rem;
  color: var(--kakao-logo, #000);
  margin-left: 2rem;
  
}

.date-picker-container{
  margin-left: 13rem;
}


.makeplay-title {
  width: 42rem;
  height: 3.625rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 5rem;
  align-self: stretch;
  border-radius: 1rem;
  border: 2px solid #777371;
  color: var(--grey-text-3, #AEACAB);
  font-family: "Pretendard Variable";
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.makeplay-pr {
  color: var(--kakao-logo, #000);
  font-family: "Pretendard Variable";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 1.6875rem */
}
.time-select-container{
  display: flex;
  flex-direction: row;
  gap:0.75rem;
}
.time-select-ampm,
.time-select-hour,
.time-select-min
{
  display: flex;
  width: 5rem;
  height: 2.5rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  border: 2px solid #777371;
  color: var(--kakao-logo, #000);
  text-align: center;
  font-family: "Pretendard Variable";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.makeplay-select-category {
  color: var(--grey-text-3, #AEACAB);
  text-align: left; /* 텍스트를 왼쪽 정렬 */
  font-family: "Pretendard Variable";
  font-size: 1.125rem;
  font-weight: 700;
  background-color: #fff;
  display: flex;
  height: 2.25rem;
  padding: 0.5rem 0.75rem;
  flex-direction: column;
  justify-content: flex-start; /* 세로 정렬을 위쪽으로 */
  align-items: flex-start; /* 가로 정렬을 왼쪽으로 */
  gap: 0.5rem;
  border-radius: 1.125rem;
  border: 2px solid var(--grey-text-3, #AEACAB);
}

.makeplay-back {
  display: flex;
  width: 19.5rem;
  height: 5rem;
  padding: 1.375rem 6.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1rem;
  background: #FFD4C0;
  color: var(--primary-text, #F8611A);
  font-family: "Pretendard Variable";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
}
.makeplay-back-5{
  display: flex;
  width: 19.5rem;
  height: 5rem;
  padding: 1.375rem 6.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1rem;
  background: #FFD4C0;
  color: var(--primary-text, #F8611A);
  font-family: "Pretendard Variable";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  margin-top:13.5rem;
}

.makeplay-next {
  display: flex;
  width: 19.5rem;
  height: 5rem;
  padding: 1.375rem 6.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1rem;
  background: #CCCAC9;
  color: #FFF;
  font-family: "Pretendard Variable";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
}

.makeplay-next-5 {
  display: flex;
  width: 19.5rem;
  height: 5rem;
  padding: 1.375rem 6.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1rem;
  background: #CCCAC9;
  color: #FFF;
  font-family: "Pretendard Variable";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  margin-top: 13.5rem;
}

.makeplay-form-buttons button:hover {
  border-radius: 1rem;
  background: #FF7331;
}
#map{
  display: flex;
  flex-direction: row;
  width: 40rem;
height: 25.5rem;
border-radius: 1rem;
justify-content: center;
align-items: center;


}

.makeplay-category{

}

.makeplay-category-title{
  color: var(--kakao-logo, #000);
font-family: "Pretendard Variable";
font-size: 2rem;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 3rem */
 margin-bottom: 5rem;
}

.makeplay-category-subtitle{
  color: var(--grey-text-2, #7E7872);
font-family: "Pretendard Variable";
font-size: 1.25rem;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 1.875rem */
}
.character-count {
  color: var(--grey-text-2, #7E7872);
  font-family: "Pretendard Variable";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 39rem;
  margin-top: 0.5rem;
}

.close-button {
  position: absolute;
  width: 4rem;
  height: 4rem;
  top: 1rem;
  left: 45rem;
  border: none;
  background-color: #fff;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}



.make-play-introduce label {
  margin-bottom: 0.5rem;
  text-align: center;
  font-family: "Pretendard Variable";
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 3rem */
  margin-left: -2rem;
  
  }
.makeplay-category-wrap{
  width: 40rem;
  height: 5.5rem;
  display: ruby;
  flex-direction: row;
  text-align: start;

}
.make-play-introduce input {
  display: flex;
  width: 40rem;
  height: 7.0625rem;
  padding: 1rem;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
  border-radius: 1rem;
  border: 2px solid #777371;
  margin-top: 5rem;
  
}

.makeplay-first-button {
  display: flex;
  width: 42rem;
  height: 5rem;
  padding: 1.375rem 6.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1rem;
  background: #CCCAC9;
  color: #FFF;
  font-family: "Pretendard Variable";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  margin-bottom: 2;
}




.selected-dates-list{
}


.make-play-3{
  width: 40rem;
  color: var(--kakao-logo, #000);
  font-family: "Pretendard Variable";
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 3rem */
  margin-top: 1rem;
  margin-bottom: -2rem;
}

.makeplay-back-3{
  display: flex;
  width: 19.5rem;
  height: 5rem;
  padding: 1.375rem 6.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1rem;
  background: #FFD4C0;
  color: var(--primary-text, #F8611A);
  font-family: "Pretendard Variable";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  margin-top: 2rem;
}
.makeplay-back-4{
  display: flex;
  width: 19.5rem;
  height: 5rem;
  padding: 1.375rem 6.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1rem;
  background: #FFD4C0;
  color: var(--primary-text, #F8611A);
  font-family: "Pretendard Variable";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  margin-top: 2rem;
}

.makeplay-next-3{
  display: flex;
  width: 19.5rem;
  height: 5rem;
  padding: 1.375rem 6.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1rem;
  background: #CCCAC9;
  color: #FFF;
  font-family: "Pretendard Variable";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  margin-top: 2rem;

}

.makeplay-next-4{
  display: flex;
  width: 19.5rem;
  height: 5rem;
  padding: 1.375rem 6.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1rem;
  background: #CCCAC9;
  color: #FFF;
  font-family: "Pretendard Variable";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  margin-top: 2rem;

}

.makeplay-location{
 
}

.makeplay-location-title{
  color: var(--kakao-logo, #000);
  font-family: "Pretendard Variable";
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 3rem */
}
.search-location-button{
  display: flex;
  height: 1rem;
  width: 3rem;
  padding: 0.75rem 1rem;
  align-items: center;
  gap: 0.5rem;
  border: none;
  color: #FFF;
  background-color: #FFF;
}

.search-location{
  display: flex;
  flex-direction: row;
}

.play-search-input{
  display: flex;
  width: 15.25rem;
  padding: 0.75rem 1rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1rem;
  border: 2px solid #777371;
  background: #FFF;
  color: var(--kakao-logo, #000);
  font-family: "Pretendard Variable";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
