/* post.css */

.post-container {
  display: block;
  margin: 0 auto;
  width: 54rem;
}

.post-header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 5.67rem; /* 헤더와 그 아래 사이의 간격 추가 */

}

.bookmark {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.bookmark img {
  width: 1.875rem;
  height: 2.5rem;

}

.bookmark div {
  font-size: 0.8em;
}

.post-issue-date {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.post-issue {
  color: var(--grey-text-1, #5D5854);
  font-family: "Pretendard Variable";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.post-date {
  color: var(--grey-text-1, #5D5854);
  text-align: right;
  font-family: "Pretendard Variable";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;}

.post-title h1 {
  color: var(--kakao-logo, #000);
  font-family: "Pretendard Variable";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.main-content {
  margin-top: 20px;
  min-height: 20rem; /* 본문이 없을 때에도 푸터와 일정한 간격을 유지 */
  margin-bottom: 30rem; /* 본문과 푸터 사이의 간격 추가 */
}

.slider .slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-placeholder {
  width: 54rem;
  height: 30.375rem;
  align-self: stretch;
  margin-bottom: 6rem;
}

.post-content {
  color: var(--kakao-logo, #000);
  font-family: "Pretendard Variable";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 175%; /* 2.1875rem */}


