.edit-profile-container {
  display: flex;
  width: 54rem;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin: 0 auto;
}

.title-edit-profile-container {
  width: 100%;
  color: var(--kakao-logo, #000);
  font-family: "Pretendard Variable";
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: left;
  margin-top: 7rem;
}

.profile-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.profile-image-label {
  cursor: pointer;
}

.profile-image {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
}

.edit-profil-image {
  color: var(--kakao-logo, #000);
  text-align: center;
  font-family: "Pretendard Variable";
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-right: 1rem;
  margin-top:1rem;
}

.edit-form-group {
  width: 100%;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

label {
  color: var(--kakao-logo, #000);
  font-family: "Pretendard Variable";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 1rem;
}

.edit-input-group {
  width: 54rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0.8125rem 1rem;
  gap: 0.5rem;
  border: none;
  margin-top: 1.5rem;
}

.edit-input-group input[type="text"], .edit-input-group select {
  width: 54rem;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.8125rem 1rem;
  gap: 0.5rem;
  border-radius: 1rem;
  border: 2px solid #777371;
  margin: -1rem;
}

.edit-input-group .react-select__control {
  display: flex;
width: 56.15rem;
height: 3.9rem;
padding: 1rem;
margin-left: -1rem;
justify-content: space-between;
align-items: center;
border-radius: 1rem;
border: 2px solid #777371;
}

.react-select__placeholder {
  border-radius: 16px;
  color: var(--grey-text-3, #AEACAB);
  font-family: "Pretendard Variable";
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  box-shadow: none !important; /* 기본 파란색 테두리 제거 */

}

.react-select__single-value {
  color: var(--kakao-logo, #000);
  border-radius: 16px;

font-family: "Pretendard Variable";
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: normal;
  box-shadow: none !important; /* 기본 파란색 테두리 제거 */

}

.react-select__indicator-separator {
  border-radius: 16px;
  display: none;
  box-shadow: none !important; /* 기본 파란색 테두리 제거 */

}

.react-select__dropdown-indicator {
  padding: 8px;
  border-radius: 16px;
  background-image: url('../images/arrow.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 1rem;
  height: 1rem;
  transition: transform 0.3s ease;
  box-shadow: none !important; /* 기본 파란색 테두리 제거 */

}
.phone-subtitle{
  color: var(--grey-text-2, #7E7872);
font-family: "Pretendard Variable";
font-size: 1.25rem;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 1.875rem */
width: 40rem;
flex-shrink: 0;
}
/* 화살표 회전 효과 */
.react-select__control--menu-is-open .react-select__dropdown-indicator {
  transform: rotate(180deg);
  box-shadow: none !important; /* 기본 파란색 테두리 제거 */

}

.react-select__menu {
  border-radius: 16px;
  border: 2px solid #FF7331;
  box-shadow: none !important; /* 기본 파란색 테두리 제거 */

}

.react-select__menu-list {
  max-height: 200px; /* 스크롤바를 위해 최대 높이 설정 */
  overflow-y: auto; /* 스크롤바 표시 */
  box-shadow: none !important; /* 기본 파란색 테두리 제거 */
  color: var(--grey-text-2, #7E7872);
font-family: "Pretendard Variable";
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;

}

/* 스크롤바 스타일링 */
.react-select__menu-list::-webkit-scrollbar {
  width: 10px; /* 스크롤바의 너비 */
  height: 80px;
  box-shadow: none !important; /* 기본 파란색 테두리 제거 */

}

.react-select__menu-list::-webkit-scrollbar-thumb {
  background-color: #888; /* 스크롤바의 색상 */
  border-radius: 16px; /* 스크롤바의 모서리 반경 */
  height: 80px;
  width: 6px;
  border: 2px solid #f1f1f1; /* 스크롤바와 트랙 사이의 간격 */
  box-shadow: none !important; /* 기본 파란색 테두리 제거 */

}

.react-select__menu-list::-webkit-scrollbar-track {
  background: #f1f1f1; /* 스크롤바 트랙의 배경색 */
  border-radius: 5px;
  box-shadow: none !important; /* 기본 파란색 테두리 제거 */

}

.react-select__option {
  padding: 10px;
  box-shadow: none !important; /* 기본 파란색 테두리 제거 */

}

.react-select__option--is-focused {
  background-color: #FF7331;
  color: white;
  border-radius: 8px;
  box-shadow: none !important; /* 기본 파란색 테두리 제거 */

}

.react-select__option--is-selected {
  background-color: #FF7331;
  color: white;
  border-radius: 16px;
  box-shadow: none !important; /* 기본 파란색 테두리 제거 */

  
}




.check-button { /*중복확인 버튼 */
  position: absolute;
  right: 0;
  height: 2.1rem;
  width: 5rem;
  border: none;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.75rem;
  border: 2px solid var(--kakao-logo, #000);
  color: var(--kakao-logo, #000);
  font-family: "Pretendard Variable";
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 700;
  margin-right: 1.5rem;
  margin-top: 0.8125rem; /* 추가: 상단 여백 */
  margin-bottom: 0.8125rem; /* 추가: 하단 여백 */
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.success {
  color: green;
  margin-top: 0.5rem;
}

.error {
  color: red;
  margin-top: 0.5rem;
}

.editprofil-submit-button {
  display: flex;
  width: 25rem;
  height: 5rem;
  padding: 1.375rem 6.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
  border-radius: 1rem;
  background: var(--primary, #FF7331);
  color: #FFF;
  font-family: "Pretendard Variable";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 auto; /* 추가: 가운데 정렬 */
}

.editprofil-submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed; /* 추가: 비활성화 시 커서 */
}


.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  width: 50rem;
  height: 29rem;

}

.modal-content p {
  color: var(--kakao-logo, #000);
  text-align: center;
  font-family: "Pretendard Variable";
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 10rem;
}

.modal-content button {
  display: flexbox;
  width: 30rem;
  height: 5.125rem;
  padding: 0.75rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1rem;
  background: #F2F0EF;
  color: var(--kakao-logo, #000);
  font-family: "Pretendard Variable";
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  justify-content: center;
  margin-right: 4rem;
  margin-top: 5rem;

}

.modal-content button:hover {
  background-color: #e06424;
}
