.footer-container {
  width: 100%; /* Full width of the container */
  display: flex;
  justify-content: center; /* Center contents horizontally */
  align-items: center; /* Center contents vertically */
  background-color: #fff; /* Background color */
  border-top: 1px solid #ccc; /* Top border */
  position: relative;
  margin-top: 1.38rem;
  margin-bottom: 1.38rem;
  height: 9rem;
  margin-right: 15rem; /* Right margin */
}

.footer {
  display: flex;
  width: 100%;
  max-width: 120rem; /* Maximum width */
  padding: 1.375rem 30rem; /* Padding for larger screens */
  justify-content: space-between; /* Space between items */
  align-items: center; /* Center items vertically */
}

/* Adjust padding for medium screens */
@media (max-width: 1200px) {
  .footer {
    padding: 1.375rem 10rem;
  }
}

/* Adjust padding for small screens */
@media (max-width: 992px) {
  .footer {
    padding: 1.375rem 5rem;
  }
}

/* Adjust layout for very small screens */
@media (max-width: 768px) {
  .footer {
    padding: 1.375rem 2rem;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-logo {
    margin-bottom: 1rem;
  }

  .footer-text {
    text-align: left;
  }
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 2rem; /* Space between logo and slogan */
}

.footer-logo-image {
  width: 3.6875rem;
  height: 2.5rem;
}

.footer-slogan-image {
  width: 6.18181rem;
  height: 2rem;
}

.footer-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0.5rem; /* Space between text lines */
}

.footer-text-1,
.footer-text-2 {
  align-items: flex-end;
  color: var(--kakao-logo, #000);
  width: 100%;
  font-family: "Pretendard Variable";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  display: flex;
  justify-content: flex-end; /* Align text to the right */
  line-height: 1; /* Line height */
  margin: 0;
}
