.footer-container {
  width: 100%; /* 너비를 100%로 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff; /* 배경색 */
  padding: 2rem 0; /* 상하 여백 */
  border-top: 1px solid #ccc; /* 위에 선 추가 */
  position: relative; /* 절대 위치를 상대 위치로 변경 */
  margin-top: 1rem;
}

.footer {
  display: flex;
  width: 100%;
  max-width: 120rem; /* 최대 너비 설정 */
  padding: 1.375rem 30rem; /* 여백 조정 */
  justify-content: space-between;
  align-items: center;
}

/* 작은 화면에서는 여백을 줄입니다 */
@media (max-width: 1200px) {
  .footer {
    padding: 1.375rem 10rem;
  }
}

@media (max-width: 992px) {
  .footer {
    padding: 1.375rem 5rem;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 1.375rem 2rem;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-logo {
    margin-bottom: 1rem;
  }

  .footer-text {
    text-align: left;
  }
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 2rem; /* 로고와 텍스트 사이의 간격 조정 */
}

.footer-logo-image {
  width: 3.6875rem;
  height: 2.5rem;
}

.footer-slogan-image {
  width: 6.18181rem;
  height: 2rem;
}

.footer-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.5rem; /* 텍스트 줄 사이의 간격 조정 */
}

.footer-text-1,
.footer-text-2 {
  color: var(--kakao-logo, #000);
  width: 25rem;
  text-align: right;
  font-family: "Pretendard Variable";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5; /* 줄 간격 설정 */
  margin: 0; /* 여백 제거 */
}
