.signup-nickname-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-nickname {
  width: 45rem;
  height: 24.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 2.5rem 1.5rem 2.5rem;
  border-radius: 24px;
  background: #fff;
  gap: 5rem;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
}

.signup-nickname-title {
  width: 40rem;
  color: var(--kakao-logo, #000);
  font-family: "Pretendard Variable";
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 3rem */
  margin-left: -5rem;
}

.signup-nickname-input-container {
  width: 100%;
  align-items: center;
  position: relative;
}

.signup-nickname-text {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
}

.signup-nickname-input {
  padding: 0.8125rem 1rem;
  border-radius: 1rem;
  border: 2px solid #777371;
  height: 3rem;
  flex-grow: 1;
  color: var(--grey-text-3, #AEACAB);
  font-family: "Pretendard Variable";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.signup-nickname-input.valid {
  border-color: #000;
  

}

.signup-nickname-input.invalid {
  border-color: #ce1a3b;
}

.signup-nickname-input.duplicate {
  border-color: #ce1a3b;
}

.nickname-check-button {
  position: absolute;
  display: flex;
  width: 5rem;
  height: 2.1875rem;
  padding: 0.5rem 0.625rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.75rem;
  border: 2px solid #B8B3B1;
  color: #B8B3B1;
  font-family: "Pretendard Variable";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 39rem;
  letter-spacing: -0.2rem;
}

.nickname-validation-message {
  color: var(--grey-text-1, #5d5854);
  font-family: "Pretendard Variable";
  font-size: 1.125rem;
  font-weight: 700;
  align-self: stretch;
  margin-left: 0.5rem;
}

.nickname-validation-message.success {
  border-color: #144fe5;
  color: #144fe5;
}

.nickname-validation-message.error {
  color: #ce1a3b;
}

.nickname-submit-button {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: #ff7331;
  color: #fff;
  font-family: "Pretendard Variable";
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  border: none;
}

.nickname-submit-button:disabled {
  background: #cccac9;
  cursor: no-drop;
}

.go-to-main {
  display:flex;
  margin-top: 2rem;
  color: #666;
  text-decoration: none;
  margin-left:38rem;
}
