.date-picker-container {
  width: 19.5rem;
  height: 20.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid var(--primary, #FF7331);
  background: #FFF;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.40);
}

.header {
  width: 18.5rem;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem 0 1rem;
}

.header span {
  color: var(--kakao-logo, #000);
  text-align: center;
  font-family: "Pretendard Variable";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-right: 1rem;
}

.search-button {
  display: flex;
  width: 4rem;
  height: 2rem;
  padding: 0.0625rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1.25rem;
  border: 2px solid var(--grey-text-1, #5D5854);
  background-color: #FFF;
}
.search-button:hover,
.search-button:active {
  border: 2px solid #FF7331; /* 테두리 색상 변경 */
}
.glass{
  fill: #5D5854;
}
.glass:hover, .glass:active{
  fill: #FF7331;
}
.date-count{
  color: var(--grey-text-2, #7E7872);
  text-align: right; /* 오른쪽 정렬 */
  font-family: "Pretendard Variable";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: auto; /* 좌측 마진을 자동으로 설정하여 우측 정렬 */

}
.custom-calendar {
  width: 100%;
  border: none;
}

.selected-date {
  background-color: #FF7331 ;
  color: white;
  border-radius: 50%;
}
.selected-datehover{
  border-radius: 1.125rem;
  background: #FEB28E;
}
.selected-dates-container {
  padding: 0 1rem;
  background-color: #fff;
  font-size: 14px;
  margin-top: -1rem;

}

.selected-dates-container ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

}

.date-button {
  display: flex;
  height: 2.25rem;
  padding: 0.5rem 0.5rem 0.5rem 0.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.125rem;
  border-radius: 1.125rem;
  border: 2px solid var(--primary, #FF7331);
  background: #FFF;
  margin-right: 0.5rem;
  color: var(--primary, #FF7331);
  text-align: center;
  font-family: "Pretendard Variable";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.remove-date {
  margin-left: 0.5rem;
  color: #FF7331;
  cursor: pointer;
}

.react-datepicker {
  display: flex;
  justify-content: center;
  border: none;
}

.react-datepicker__day {
  color: var(--grey-text-1, #5D5854);
  text-align: center;
  font-family: "Pretendard Variable";
  font-size: 1rem;
  font-style: normal;
  margin-right: 0.55rem;
  font-weight: 700;
}

/* 날짜에 호버 시 배경색 변경 */
.react-datepicker__day:hover {
  background: #FEB28E; /* 호버 시 배경색 */
  border-radius: 50%; /* 호버 시 테두리 둥글게 */
}

/* 선택된 날짜 스타일 */
.selected-date {
  background-color: #FF7331; /* 선택된 날짜의 배경색 */
  color: white; /* 선택된 날짜의 텍스트 색상 */
  border-radius: 50%; /* 선택된 날짜의 테두리 둥글게 */
  z-index: 2; /* 선택된 날짜를 다른 요소보다 위에 표시 */
}
.react-datepicker__day-names {
  color: var(--kakao-logo, #000);
  text-align: center;
  font-family: "Pretendard Variable";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  align-self: stretch;
}

.react-datepicker__day-name {
  margin-right: 0.55rem;
}

/* 추가된 CSS */
.react-datepicker__header {
  background-color: #fff; /* 상단 월 부분 배경색을 흰색으로 설정 */
  border-bottom: none;
  color: black; /* 텍스트 색상을 검정색으로 설정 */
}

.custom-header {
  color: var(--kakao-logo, #000);
  text-align: center;
  font-family: "Pretendard Variable";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.custom-header button {
  width: 2rem; /* 화살표 버튼의 너비를 조정 */
  height: 2rem; /* 화살표 버튼의 높이를 조정 */
  border: none;
  background: #FFF;
  margin: 0.4rem 0;
  font-size: 1.5rem; /* 화살표의 폰트 사이즈를 조정 */
}

.select-btn {
  display: flex;
  width: 17.25rem;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  background: #FF7331;
  color: #FFF;
  border: none;
}
